QHeaderView::section {
                      color: black;
                      background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                                      stop:0 #eaedf2, stop: 0.4 lightgray, stop:1 #d7dbe2);
                      border-width: 1px;
                      border-style: solid;
                      border-color: #bbc1cc;
                      }
